body{
    
    background-color: rgb(245, 214, 128); 
    color:rgb(0, 0, 0);
    margin: auto;
    text-align: center;
}

table {
    width: 55%;
    background-color: rgb(255, 233, 110);
    margin: auto;
}

table tr:nth-child(even) {
    background-color: antiquewhite;
}

.informacao{background-color:antiquewhite;
width:85%;
border-radius:30px;
margin:auto;
padding: 50px;
}
.galeria{
  margin: auto;
  width: 70%;
  height:fit-content;
  padding:50px;
  position:relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  border-radius: 30px;
}

img{
  width: 100%;
 height: 100%;
 position: sticky;
 left: 0;
 flex-shrink: 0;
 object-fit: cover;
 scroll-behavior: smooth;
 border-radius: 30px;
 }

  video{
margin: 40px;
border-radius: 30px;
width:70%
}

  header{
    background-color:rgb(247, 236, 175);
  margin:0;
  padding:0;
}

nav{
    background-color: rgb(247, 236, 175);
    padding:5px;
}

nav li a{
    text-decoration: none;
    color:black;
    padding:0 10px;
    font-size: 20px;
}

nav li{
text-align: left;
letter-spacing: 5px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 10px;
    list-style: none;
}
p{
  font-size: 20px;
}

title{
  font-size: 70px; 
}

hr{
  font-size: 50px;
}

h1{
  font-size: 60px;

}

h2{
  font-size: 35px;
  color: rgb(39, 39, 39);
}

h3{
font-size: 30px;

}

h4{
  font-size: 25px;

}

td{
  font-size: 25px;
}

br{
  
}